<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-home"></i> خانه <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/panel/main">داشبورد</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-edit"></i> فرم <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/panel/send_news">ارسال خبر </a></li>
                                    <li><a href="/panel/send_news_book">ارسال کتاب </a></li>
                                    <li><a href="/panel/send_news_pic">ارسال تصویر </a></li>
                                    <li><a href="/panel/send_news_mov"> ارسال فیلم  </a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-envelope "></i> خبر ها <span
                                    class="fa  fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/panel/all_news">همه خبرها</a></li>
                                    <li><a href="/panel/managers_news">خبرهای مدیران</a></li>
                                    <li><a href="/panel/normal_news">خبرهای عادی</a></li>
                                    <li><a href="/panel/my_news">ارسالی شما</a></li>
                                </ul>
                            </li>
                             <li><a><i class="fa fa-desktop"></i> چند رسانه <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/panel/photo">تصاویر </a></li>
                                    <li><a href="/panel/movie">رسانه ها </a></li>
                                    <li><a href="/panel/contact_us">نظرات ارسالی </a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-table"></i> کاربران <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    {{!-- <li><a href="/panel/all_user">همه کاربران</a></li> --}}
                                    <li><a href="/panel/managers_user">مدیران</a></li>
                                    {{!-- <li><a href="/panel/normal_user">عادی</a></li> --}}
                                </ul>
                            </li>
                            <li><a><i class="fa fa-table"></i> مدیریت <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/panel/add_manager">افزودن مدیر</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>